h1 {
    color: darkgreen;
    
}
h1,h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.CIA-story > p {
    line-height:25px;
    font-size: 20px;
    font-size: larger;
}

a {
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}
#like {
    text-transform: uppercase;
}
img {
    float: left;
    padding: 10px;
}
.paragraph-three {
    padding-top: 30px;
}
.list {
    line-height:25px;
    font-size: 20px;
    font-size: larger;
}
